* {
  margin: 0;
  padding: 0;
  font-family: 'Arial';
}

.keyboard {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 690px;
  height: 230px;
  margin-left: 15%;
  background-color: #f2f0f0;

}

.key {
  display: block;
  font-size: 20px;
  border-radius: 10%;
  width: 40px;
  height: 40px;
  border: 1px solid #000000;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 
  0px 3px rgba(128,128,128,1), /* gradient effects */
  0px 3px rgba(118,118,118,1),
  0px 3px rgba(108,108,108,1),
  0px 3px rgba(98,98,98,1),
  0px 3px rgba(88,88,88,1),
  0px 3px rgba(78,78,78,1),
  0px 3px 3px -1px rgba(128,128,128,1);
}

.functional-key {
  display: block;
  font-size: 20px;
  border-radius: 10%;
  width: 80px;
  height: 40px;
  border: 1px solid #000000;
  background-color: #ffffff;
  box-shadow: 
  0px 3px rgba(128,128,128,1), /* gradient effects */
  0px 3px rgba(118,118,118,1),
  0px 3px rgba(108,108,108,1),
  0px 3px rgba(98,98,98,1),
  0px 3px rgba(88,88,88,1),
  0px 3px rgba(78,78,78,1),
  0px 3px 3px -1px rgba(128,128,128,1);
}

#Backspace {
  width: 95px;
  margin-right: 1px
}

#Tab {
  width: 60px;
}

#Delete {
  width: 50px;
}

#Enter {
  width: 90px;
}

#ShiftLeft {
  width: 90px;
}

#ShiftRight {
  width: 90px;
  margin-left: 2px;
  margin-right: 2px;
}

#ArrowUp,
#Win,
#ControlRight,
#ControlLeft,
#AltLeft,
#AltRight,
#ArrowDown,
#ArrowLeft,
#ArrowRight {
  width: 40px;
  border-radius: 10%;
}

#CapsLock {
  font-size: 18px;
}

#Space {
  width: 330px;
  border-radius:3%
}

.active {
  background-color: rgba(128,128,128,1);
  box-shadow: none;
}

textarea {
  width: 690px;
  margin: 10px 15%;
}

.legend {
  margin-left: 15%;
  margin-top: 10px;
}